*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(100deg, rgb(14, 14, 15) 0%, rgb(67, 66, 82) 61%);
  ;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
 

}

.app {
  display: flex;
  height: 100vh;
  
}