.amount-button{
  background: rgb(37, 102, 146);
  border-radius: 5px;
  width: 100px;
  height: 30px;
  border: none;
}
.amount-button:hover{
    background: rgb(36, 34, 148);
    border: 1px solid rgb(97, 194, 19);
    border-radius: 5px;
  }
  .client-image{
    width: 150px;
    height: 150px;
    border-radius: 100px;
  } 